@font-face {
    font-family: "Montserrat Bold";
    src: url("Assets/Fonts/Montserrat-Medium.otf");
}

@font-face {
    font-family: "Montserrat ExtraBold";
    src: url("Assets/Fonts/Montserrat-LightItalic.otf");
}

@font-face {
    font-family: "Vollkorn Regular";
    src: url("Assets/Fonts/Vollkorn-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("Assets/Fonts/Montserrat-Light.otf");
}

:root {
    --background-color: #212121;
    --background-color-alpha: rgba(21, 21, 21, 0.921);
    --text-color: #dfdfdf;
    --highlight-color: #FB3E39;
    --disabled-color: #303030;
    --secondary-color: #3e3e3e;
    --window-border-radius: 6px;
    --font-size: 14px;
}

.Content{
   text-align: center;
   
   margin-left: 24%;
}

#Site{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 10%;
}

#ButtonsDiv{
margin-top: -2%;
    margin-bottom: 3%;
}

form{
    width:40em;
    margin: 0;
}

p{
    text-align: left;
    width: 50vw;
    font-size: 11pt;
    margin-bottom: 2%;
   

}
.pContent{
    text-align: left;
   margin-bottom: 3%;
}

.ContentButtons{
    text-align: left;
    margin-left: 24%;
    margin-bottom: 8%;
}

img{
    margin-left: -30%;
margin-bottom: 4%;
margin-top: 6%;
    width: 70%; 
    
}

#leitfaden{
    width: auto;
    max-height: 400px;
    height: auto;
}

h1 {
    font-family: 'Montserrat Bold';
    margin-bottom: 6%;
    font-size:69pt;
}
h2{
    text-align: left;
    margin-top: 3%;
}

h3{
    margin-bottom: 2%;
    text-align: center;
    font-size:18pt;
    margin-left: -2%;

}

.valueprop{
    font-size: 13pt;
    margin-bottom: 8%;

}



#protip{
    font-size: 8pt;
    text-align: center;
    margin-top: 24%;
    color:#dfdfdf41;
}

body {
    background-color: var(--background-color-alpha);
    font-family: 'Montserrat Light';
    font-size: 12pt;
    color: var(--text-color);
}

datalist {
    font-family: 'Montserrat Light';
    font-size: 12pt;

}

h1 {
    font-family: 'Montserrat Bold';
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1%;
}

h3 {
    font-family: 'Montserrat ExtraBold';
    color: var(--text-color);
}


::placeholder {
    color: #0000002e;

}

button:focus {
    outline: none;
}

button {
    margin-top: 20px;
    padding: 2px;
    font-family: 'Montserrat Light';
    font-size: 14pt;
    width: 54%;
    border-radius: 2px;
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--text-color);
}

button:disabled {
    background-color: var(--disabled-color);
    border-color: var(--disabled-color);
}
